html {
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%);
  min-height: 745px;
  font-family: 'helvetica neue';
}

#heading {
  background-color: #6f36d3;
  max-width: 400px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  margin: 50px auto;
  padding: 10px;
  color: white;
}

.inputField{
  margin: 20px 0;
  width: 40%;
  margin: 20px auto;
  display: block;
  height: 45px;
  
}
.inputField input{
  width: 85%;
  height: 100%;
  outline: none;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: 17px;
  padding-left: 15px;
  transition: all 0.3s ease;
  text-align: center;
}
.inputField input:focus{
  border-color: #8E49E8;
}
.inputField button{
  width: 50px;
  height: 100%;
  border: none;
  color: #fff;
  margin-left: 5px;
  font-size: 21px;
  outline: none;
  background: #8E49E8;
  cursor: pointer;
  border-radius: 3px;   
  transition: all 0.3s ease;
}

.back{
  background-color: #6f36d3;
  max-width: 400px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  margin: 50px auto;
  padding: 12px;
  color: white;
  text-decoration: none;
}